@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: MyCustomFont;
  src: url("../fonts/varsity_regular.ttf");
}

@font-face {
  font-family: Trajan_Pro_Bold;
  src: url("../fonts/Trajan_Pro_Bold.ttf");
}

:root,
html {
  font-family: Roboto, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
html {
  scroll-padding-top: 70px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

:root {
  --colorPrimary: #9c7f2d;
  --colorSecondary: #bf9c39;
  --colorWhite: #ffffff;
  --colorOffWhite: #f7f7f7;
  --colorBorderWhite: #dbe4e9;
  --colorBlack: #000000;
  --colorHalfBlack: #333333;
  --colorBackgroundBlack: #343a40bd;
}

/* Navbar */

.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-link {
  color: #000;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  background-color: var(--colorPrimary);
  height: 100%;
  color: var(--colorWhite);
}

.nav-link:hover {
  background-color: var(--colorOffWhite);
}

.nav-icon {
  margin-right: 5px;
}
@media only screen and (min-width: 1000px) {
  .navbar-nav .nav-link {
    font-size: 1.01vw !important;
    letter-spacing: 0.02vw;
  }
}
@media screen and (max-width: 600px) {
  .navbar-brand img {
    height: 45px;
  }
}

/* All Sections */

.section-heading {
  font-size: 35px;
  text-align: center;
  color: var(--colorPrimary);
  text-transform: uppercase;
  font-family: "Trajan_Pro_Bold";
}
.sub-heading {
  color: var(--colorSecondary);
  font-family: "Trajan_Pro_Bold";
}
@media screen and (max-width: 600px) {
  .section-heading {
    font-size: 1.6em;
  }
  .sub-heading {
    font-size: 1em;
  }
}

/* Slider */
#slider_section {
  margin-top: 70px;
  min-height: 80vh;
}

.carousel {
  overflow: hidden !important;
  /* max-height: 80vh; */
}

.carousel-item img {
  max-height: 80vh;
  width: 100% !important;
}

.carousel-indicators .active {
  background-color: var(--colorSecondary) !important;
}

/* Desktop */
@media only screen and (min-width: 990px) {
  .mobile-slider {
    display: none;
  }
}
/* Mobile */
@media only screen and (max-width: 990px) {
  .desktop-slider {
    display: none;
  }
}

.image-design {
  border-radius: 50px;
}

/* Overview */
.overview-para {
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  .overview-para {
    text-align: justify !important;
  }
}

@media screen and (max-width: 600px) {
  .overview-text-section .sub-heading {
    margin-top: 1em;
  }
}

.plan_card {
  height: 300px !important;
  border: 2px solid var(--colorSecondary);
  border-radius: 15px;
}

.plan_card img {
  height: 100%;
  border-radius: 15px;
}

/* Common Code */

/* OVERLAYS */
.overlay-container {
  position: relative;
}
.overlay-slider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  overflow: hidden;
  height: 0;
  transition: 0.5s ease;
}

.overlay-container:hover .overlay-slider-bottom,
.overlay-container:hover .overlay-slider-top {
  height: 100%;
}
.overlay-slider-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 0;
  transition: 0.5s ease;
}
.enq-btn {
  text-transform: uppercase;
  border: 0.1vw solid var(--colorBorderWhite);
  background: 0 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.5s ease-in-out;
  &:hover {
    border: 0.1vw solid var(--colorBorderWhite);
    background: rgba(0, 0, 0, 0.7);
  }
}

.effectMoveGradient,
.effectMoveGradient:hover {
  text-shadow: 0 3px 6px var(--colorPrimary);
  background-color: var(--colorSecondary);
  background: linear-gradient(
    -45deg,
    var(--colorPrimary),
    var(--colorSecondary),
    var(--colorPrimary),
    var(--colorSecondary)
  );
  background-size: 400% 400%;
  -webkit-animation: 3s infinite Gradient, 3s infinite rocking;
  -moz-animation: 3s infinite Gradient, 3s infinite rocking;
  animation: 3s 2s infinite Gradient, 3s 2s infinite rocking;
  color: var(--colorWhite);
  border: none;
}

.effectGradient,
.effectGradient:hover {
  text-shadow: 0 3px 6px var(--colorPrimary);
  background-color: var(--colorSecondary);
  background: linear-gradient(
    -45deg,
    var(--colorPrimary),
    var(--colorSecondary),
    var(--colorPrimary),
    var(--colorSecondary)
  );
  background-size: 400% 400%;
  -webkit-animation: 3s infinite Gradient;
  -moz-animation: 3s infinite Gradient;
  animation: 3s infinite Gradient;
  color: var(--colorWhite);
  border: none;
}

.effectScale {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.effectScale:hover {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  transform: scale(1.08);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* Scale UP  */
.scale-up-center {
  -webkit-animation: scale-up-center 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
    infinite both;
  animation: scale-up-center 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) infinite
    both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
